.footer__contact{
    background-color: var(--main-white);
    padding: 1em;
}

.footer__title, .footer__text{
    font-family: var(--main-font);
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer__title{
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
}

.footer__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 1em 0;
}

.footer__email{
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 24px;
    width: 90%;
    margin-bottom: 2em;
}

.footer__email::placeholder{
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    background: url("../assets/Email.svg") no-repeat;
    padding-left: 3em;
    background-position-x: 1em;
}

hr {
    margin: 0;
}

.footer__end{
    background-color: var(--main-white);
    padding: 1em;
    color: black;
}

.footer__list{
    display: none;
}

@media screen and (min-width: 1024px){

    .footer__title{
        font-size: 24px;
    }
    
    .footer__contact{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4em;
    }

    .footer__email{
        width: 30%;
    }

    .footer__description{
        margin-right: 7em;
        width: 30%;
    }

    .footer__end{
        background-color: var(--footer-bg-color);
        display: flex;
        font-family: var(--main-font);
        font-weight: 400;
        justify-content: space-around;
    }

    .footer__end h2{
        font-size: 24px;
        line-height: 36px;
        color: black;
    }

    .footer__list{
        display: block;
    }

    .footer__list__title{
        font-size: 14px;
        color: #858585;
        line-height: 21px;
        text-transform: uppercase;
    }

    .footer__list__link{
        text-decoration: none;
        color: #474646;
        margin-left: 0.6em;
    }

    .footer__list__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }
}

@media screen and (min-width: 1710px) {
    
    .footer__contact{
        padding: 4em 25vw 4em 25vw;
    }

    .footer__list{
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    .footer__end{
        padding: 3em 0;
    }

    .footer__end h2{
        margin-left: 3em;
    }
}